
        body {
            background-image: linear-gradient(to right,#CCAE93 40%, #704927)  
        }
    
    h1 {
        color: #703227;
        margin-top: auto;
        text-align: center;
        text-shadow: 1px 1px 2px black;
    }

    p {
        text-align: justify; color: rgb(6, 7, 7);
    background-color: white;
    }

    main {
        background-color: white;
        border-radius: 12px;
        width: 600px;
        padding: 10px;
        margin: auto;
        box-shadow: 5px 5px 15px rgb(0, 0, 0);
    }
    h2  {
        color: rgb(232, 56, 56);        
    }